<h1>Edit Photo <%=@my_photo.id%></h1>
<form action="/photos/update_photo/<%=@my_photo.id%>">
<div>
  <label for="url">
    Image URL
  </label>
    <input id="url" type="text" name="<%=@my_photo.source%>" value ="<%=@my_photo.source%>">
</div>
<div>
  <label for="caption">
    Caption
  </label>
    <input id="url" type="text" name="<%=@my_photo.caption%>" value ="<%=@my_photo.caption%>">
</div>

<button>Update Photo</button>
