<h1>Photo Details</h1>

<p>
  <%= @my_photo.caption %>
</p>

<img src="<%=@my_photo.source%>">

<p>
<%=time_ago_in_words(@my_photo.created_at) %>
</p>

<a href="/photos">Go back</a>
<a href="/photos/<%=@my_photo.id%>/edit">Edit</a>
<a href="/photos/delete_photo/<%=@my_photo.id%>">Delete</a>
